.SingleMessage {
    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    float: left;
    font-size: 14px;
    white-space: normal;
    word-break: break-word;
}

.SingleMessage .from {
    padding-right: 5px;
    color: purple;
}

.SingleMessage .body {
}

.blue {
    background-color: #D8EBFF;
    float: right;
}